a{
    margin: 1em;
    text-decoration: none;
    font-family: "Caviar Dreams";
    font-size: 2vw;
    transition: all 0.2s linear;
}

a:hover{
    color: black;
    cursor: pointer;
    background: #bdc3c7;
}
