
@font-face {
  font-family: 'Caviar Dreams';
  src: url(./font/CaviarDreams.ttf) format('ttf');
}

@font-face {
  font-family: 'Red Hat Display Black';
  src: url(./font/Red_Hat_Display/RedHatDisplay-Black.ttf) format('ttf');
}

@font-face {
  font-family: 'Red Hat Display';
  src: local('Red Hat Display'), url(./font/Red_Hat_Display/RedHatDisplay-Regular.ttf) format('ttf');
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

